<div>
       <%# ユーザーのマイページ  %>
    <main>
        <%= flash[:notice] %>
        <div class="name_and_icon py-5">
            <div class="float-left ml-3">
                <img src="<%= "/user_images/#{@user.prof_image}" %>">
            </div>
            <h1 class="px-3"><%= @user.name %></h1>
        </div>
        <div class="profile row py-5">
            <div class="prof_text col-sm-7">
                <p>プロフィール用テキストです。プロフィール用テキストです。プロフィール用テキストです。プロフィール用テキストです。プロフィール用テキストです。プロフィール用テキストです。プロフィール用テキストです。プロフィール用テキストです。</p>
            </div>
            <div class="follow_and_postnumber col-sm-5 row">
                <div class="col-4">
                    <h3 class="text-center">投稿数</h3>
                    <p class="text-center">100</p>
                </div>
                <div class="col-4">
                    <h3 class="text-center">フォロー</h3>
                    <p class="text-center">100</p>
                </div>
                <div class="col-4">
                    <h3 class="text-center">フォロワ</h3>
                    <p class="text-center">100</p>
                </div>
            </div>
        </div>
        <%# 投稿部分 %>
        <div class="post container row">
            <div class="post-contents col-sm-7 col-12">
                <div class="prof-name row py-3">
                    <h3 class="float-left col-1">◯　</h3>
                    <h3 class="col-4">ユーザー名</h3>
                    <h3 class="col-2 offset-5">♡</h3>
                </div>
                <div class="post-image p-3 mb-3">
                    <a>投稿画像が入ります。</a>
                </div>
                <div class="p-3">
                    <p>投稿のテキストが入ります。投稿のテキストが入ります。投稿のテキストが入ります。投稿のテキストが入ります。投稿のテキストが入ります。投稿のテキストが入ります。投稿のテキストが入ります。投稿のテキストが入ります。投稿のテキストが入ります。投稿のテキストが入ります。投稿のテキストが入ります。</p>
                </div>
            </div>
            <div class="post-map col-sm-5 col-12">
                <a class="px-2 py-4">google mapを入れるとこ</a>
            </div>
        </div>
    </main>
    
</div>