<%# 投稿詳細ページ %>
    <div>
        <main>
            <%# ログインしてるユーザーの投稿を全て表示 %>
            <% @current_user.posts.each do |post| %>
                <div class="post row my-5 mx-2">
                    <div class="post-contents col-sm-6 col-12">
                        <div class="prof-name row py-3">
                            <img class="float-left col-1 pr-2" src="<%= "/user_images/#{@current_user.prof_image}" %>">
                            <h3 class="col-4"><%= @current_user.name %></h3>
                            <h3 class="col-2 offset-5">♡</h3>
                        </div>
                        <div class="post-image p-3 mb-3">
                            <a>投稿画像が入ります。</a>
                        </div>
                        <div class="p-3">
                            <%= @post.content %>
                        </div>
                    </div>
                    <div class="post-map col-sm-6 col-12">
                        <a class="px-2 py-4">google mapを入れるとこ</a>
                    </div>
                </div>
            <% end %>
        </main>
    </div>